<<<<<<< HEAD
body
{
=======
body{
>>>>>>> 0fd105dea3bcafb7bfe4569a4179f4d6dff4062b
    color: #333;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

<<<<<<< HEAD
#cabecera
{
    background: #33A;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #tagline
{
=======
#cabecera{
    background: #33A;
    box-shadow: 0px 5px 30px 0px rgba(0,0,0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0, 5em;
}

#cabecera #tagline{
>>>>>>> 0fd105dea3bcafb7bfe4569a4179f4d6dff4062b
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

<<<<<<< HEAD
#container
{
=======
#container{
>>>>>>> 0fd105dea3bcafb7bfe4569a4179f4d6dff4062b
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

<<<<<<< HEAD
#container h1
{
    font-size: 20px;
}
#post
{
=======
#container h1{
    font-size: 20px;
}

#post{
>>>>>>> 0fd105dea3bcafb7bfe4569a4179f4d6dff4062b
    padding: 1em;
}